.featured {
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.7),
      rgba(21, 21, 21, 0.7)
    ),
    url("./assets/home/featured.jpg");
  background-attachment: fixed;
  background-position: cover;
  background-size: cover;
}
.service {
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.7),
      rgba(21, 21, 21, 0.7)
    ),
    url("./assets/home/chef-service.jpg");
  background-attachment: fixed;
  background-position: cover;
  background-size: cover;
}

.loginBg {
  background-image: url("../src/assets/others/authentication.png");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}
